body {
  font-size: 11px; 
}

path.sunburst_path {
  stroke: #888;
  stroke-width: 1;
}
text.sunburst_label_radial {
  //text-anchor: middle;
  //textLength: 100%;
}

g.sunburst_inner_circle {
  circle {
    fill: #bbb;
  }
}

div.title_container {
  position: absolute;
  text-align: center;
  color: black;
}
